<div class="newtask_field">
    <label for="title">Title</label>
    <input required value="<%= task.name %>" type="text" name="name" id="name">
</div>
<div class="newtask_field">
    <label for="description">Description</label>
    <textarea name="description" id="description"><%= task.description %></textarea>
</div>
<!-- <div class="newtask_field">
    <label for="priority">Priority</label>
    <select name="priority" id="priority">
        <option value="1">1 (High)</option>
        <option value="2">2 (Medium)</option>
        <option value="3">3 (Low)</option>
    </select>
</div> -->
<div class="newtask_field">
    <label for="duedate">Deadline Date</label>
    <input required value="<%= task.duedate %>" type="date" name="duedate" id="duedate">
</div>
<button class="primary_button" type="submit">Save</button>