<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>To Do List</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-header-container">
            <a class="navbar-header" href="/">
                Task List
            </a>
        </div>
        <a href="#" class="toggle-button">
            <img src="/img/menu.png" alt="Menu">
        </a>
        <div id="navbar-links">
            <ul>
                <li>
                    <a id="index-button" class="nav-text">Home</a>
                </li>
                <li>
                    <a id="about-button" class="nav-text">About</a>
                </ul>
        </div>
    </nav>
    <div class="newtask-container">
        <h1>Edit Task</h1>
        <hr>
        <form action="/tasks/<%= task.id  %>?_method=PUT" method="post" class="newtask_form_container">
            <%- include('_form_fields') %>

        </form>
    </div>
</body>


</html>
<script src="/script.js"></script>
<script src="/navigation.js"></script>