<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="styles/style.css">
    <title>To Do List</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-header-container">
            <a class="navbar-header" href="/">
                Task List
            </a>
        </div>
        <a href="#" class="toggle-button">
            <img src="img/menu.png" alt="Menu">
        </a>
        <div id="navbar-links">
            <ul>
                <li>
                    <a id="index-button" class="nav-text">Home</a>
                </li>
                <li>
                    <a id="about-button" class="nav-text">About</a>
            </ul>
        </div>
    </nav>
    <div class="main-container">
        <div class="tasks-container">
            <h1>Your Tasks</h1>

            <% tasks.forEach(task=>{ %>
                <div class="task">
                    <a href="tasks/<%= task.slug  %>" class="task_content">
                        <p class="task_content_paragraph">
                            <%= task.name %>
                        </p>
                    </a>
                    <form action="/tasks/<%= task.id  %>?_method=DELETE" method="post">
                        <label class="container">&nbsp;
                            <input onChange="this.form.submit()" class="checkbox" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </form>
                </div>

                <% }) %>
        </div>
    </div>
    <a href="tasks/new" class="bottom_button ">+ Add Task</a>
</body>

</html>
<script src="/script.js"></script>
<script src="/navigation.js"></script>