$black: #0d1018;
$white: #fff;
$shadowColor: rgba(106, 106, 106, 0.221);

//button colors
$delete: rgb(205, 35, 52);
$hoverDelete: rgb(175, 31, 46);
$focusDelete: rgb(152, 27, 40);

$edit: #244180;
$hoverEdit: #1c3467;
$focusEdit: #172c57;

//Main colors
$darkBlue: #273049;
$hoverDarkBlue: #22283d;
$focusDarkBlue: #131726;
$armyBrown: #838067;
$sandStone: #7a6262;
$mercury: #e3e9f0;
$coolGrey: #9098ad;
$quickSand: #b69b9c;

