@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.navbar {
  display: flex;
  align-items: center;
  background-color: #273049;
  padding-inline: 10px;
  box-shadow: 0 2px 2px -1px #464646;
  position: sticky;
  z-index: 1;
  top: 0;
}

.navbar-header-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

.navbar-header-container img {
  width: 40px;
  height: 40px;
}

#navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-header {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-header:hover {
  color: #fff;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 0.1rem;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

#navbar-links li {
  list-style: none;
}

#navbar-links li a {
  text-decoration: none;
  display: block;
}

.nav-text {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 22px;
  margin: 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
}

.nav-text:hover {
  /* background-color: rgb(48, 30, 139); */
  color: white;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
  transition: 50ms;
}

@media (width < 900px) {
  .navbar {
    height: 50px;
    justify-content: center;
  }
  .toggle-button {
    display: flex;
    position: absolute;
  }
  #navbar-links {
    position: absolute;
    margin-inline: 10px;
    transform: translateX(-120%);
    top: 65px;
    width: 95%;
  }
  .slide-out {
    position: absolute;
    top: -200px;
  }
  .nav-main {
    flex-direction: column;
    align-items: flex-start;
  }
  #navbar-links ul {
    width: 100%;
    flex-direction: column;
    background: #273049;
    border-radius: 10px;
    /* margin-inline: 20px; */
  }
  #navbar-links li {
    text-align: center;
  }
  #navbar-links li a {
    padding: 0.5rem 1rem;
    color: white;
  }
  .slide-in {
    animation: slide-in;
    animation-timing-function: ease-in;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
  }
  .slide-out {
    animation: slide-out;
    animation-timing-function: ease-out;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
  }
  @keyframes slide-in {
    from {
      transform: translateX(-120%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-120%);
    }
  }
}
.newtask-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.newtask-container h1 {
  font-weight: 400;
  margin: 20px 10px 5px 10px;
}
.newtask-container hr {
  margin-inline: 10px;
  border-radius: 100%;
  border-color: #273049;
}
@media only screen and (width < 450px) {
  .newtask-container .newtask_form_container {
    margin-inline: 20px;
    margin-block: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
  }
  .newtask-container .newtask_form_container .primary_button {
    border: none;
    background: #273049;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    box-sizing: border-box;
  }
  .newtask-container .newtask_form_container .primary_button:hover {
    background: #22283d;
    cursor: pointer;
  }
  .newtask-container .newtask_form_container .primary_button:focus {
    background-color: #131726;
  }
  .newtask-container .newtask_field {
    display: flex;
    flex-direction: column;
  }
  .newtask-container .newtask_field label {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .newtask-container .newtask_field input[type=text] {
    border: 1px solid black;
    font-size: 1.3rem;
    border-radius: 5px;
    padding-block: 5px;
    box-sizing: border-box;
  }
  .newtask-container .newtask_field input[type=text]:focus {
    outline: none;
  }
  .newtask-container .newtask_field textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 1.3rem;
    border-radius: 5px;
    padding-block: 5px;
    resize: none;
  }
  .newtask-container .newtask_field textarea:focus {
    outline: none;
  }
}

@media only screen and (width < 900px) {
  .taskdetails-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
  }
  .taskdetails-container h1 {
    margin-top: 0;
    font-weight: 500;
  }
  .taskdetails-container hr {
    margin-inline: 10px;
    border-radius: 100%;
    border-color: #273049;
  }
  .taskdetails-container .taskdetails_content {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    box-shadow: 1px 1px 5px rgba(106, 106, 106, 0.221);
  }
  .taskdetails-container .taskdetails_content .taskdetails_description {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
  }
  .taskdetails-container .taskdetails_content .taskdetails_description h2 {
    font-weight: 500;
    margin: 0px 0px 5px 0px;
  }
  .taskdetails-container .taskdetails_content .taskdetails_description p {
    margin: 0;
    padding: 0;
  }
  .taskdetails-container .taskdetails_content .taskdetails_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .taskdetails-container .taskdetails_content form .delete_button {
    border: none;
    background: rgb(205, 35, 52);
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
  }
  .taskdetails-container .taskdetails_content form .delete_button:hover {
    background: rgb(175, 31, 46);
    cursor: pointer;
  }
  .taskdetails-container .taskdetails_content form .delete_button:focus {
    background-color: rgb(152, 27, 40);
  }
  .taskdetails-container .taskdetails_content h3 {
    font-weight: 400;
    margin-bottom: 20px;
  }
  .taskdetails-container .taskdetails_content h3 span {
    font-weight: 600;
  }
  .taskdetails-container .taskdetails_content .edit_button {
    border: none;
    background: #244180;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
  }
  .taskdetails-container .taskdetails_content .edit_button:hover {
    background: #1c3467;
    cursor: pointer;
  }
  .taskdetails-container .taskdetails_content .edit_button:focus {
    background-color: #172c57;
  }
}
@media only screen and (width < 450px) {
  .add_task_button {
    display: none;
  }
  .bottom_button {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #273049;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
  .bottom_button:hover {
    background-color: #22283d;
  }
  .tasks-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 15px;
    margin-bottom: 25px;
    gap: 25px;
  }
  .tasks-container h1 {
    padding: 0;
    margin-bottom: 0;
  }
  .tasks-container .task {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(126, 130, 135, 0.2) 1px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
  }
  .tasks-container .task .priority_level_text {
    display: none;
  }
  .tasks-container .task .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .tasks-container .task .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .tasks-container .task .checkmark {
    position: absolute;
    top: -3px;
    left: -20px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #eee;
    border: 1px solid rgba(95, 95, 95, 0.148);
  }
  .tasks-container .task .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .tasks-container .task .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .tasks-container .task .container input:checked ~ .checkmark:after {
    display: block;
  }
  .tasks-container .task .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #66bb6a;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .tasks-container .task_content {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #0d1018;
    margin: 0;
    width: 90%;
  }
  .tasks-container .task_content p {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media only screen and (width < 450px) and (width < 350px) {
  .tasks-container .task_content p {
    width: 15ch;
    text-overflow: "";
  }
}
@media only screen and (width >= 450px) and (width < 900px) {
  .bottom_button {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #273049;
    height: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
  .bottom_button:hover {
    background-color: #22283d;
  }
  .tasks-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 15px;
    margin-bottom: 25px;
    gap: 25px;
  }
  .tasks-container .header_text {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .tasks-container .header_text .add_task_button {
    border: none;
    background: #273049;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    box-sizing: border-box;
  }
  .tasks-container .header_text .add_task_button:hover {
    background: #22283d;
    cursor: pointer;
  }
  .tasks-container .header_text .add_task_button:focus {
    background-color: #131726;
  }
  .tasks-container .task {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(126, 130, 135, 0.2) 1px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */
  }
  .tasks-container .task .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .tasks-container .task .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .tasks-container .task .checkmark {
    position: absolute;
    top: -3px;
    left: -20px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #eee;
    border: 1px solid rgba(95, 95, 95, 0.148);
  }
  .tasks-container .task .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .tasks-container .task .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .tasks-container .task .container input:checked ~ .checkmark:after {
    display: block;
  }
  .tasks-container .task .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #66bb6a;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .tasks-container .task_content {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #0d1018;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .tasks-container .task_content p {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: #e3e9f0;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */