$black: #0d1018;
$white: #fff;

//Main colors
$darkBlue: #273049;
$hoverDarkBlue: #22283d;
$focusDarkBlue: #131726;
$armyBrown: #838067;
$sandStone: #7a6262;
$mercury: #e3e9f0;
$coolGrey: #9098ad;
$quickSand: #b69b9c;
