.newtask-container {
  @include flexTopCenter(column);
  h1 {
    font-weight: 400;
    margin: 20px 10px 5px 10px;
  }
  hr {
    margin-inline: 10px;
    border-radius: 100%;
    border-color: $darkBlue;
  }

  @media only screen and (width < 450px) {
    .newtask_form_container {
      margin-inline: 20px;
      margin-block: 10px;
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: 20px;
      @include primaryButton();
    }
    .newtask_field {
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }
      input[type='text'] {
        border: 1px solid black;
        font-size: 1.3rem;
        border-radius: 5px;
        padding-block: 5px;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }
      textarea {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        border: 1px solid black;
        font-size: 1.3rem;
        border-radius: 5px;
        padding-block: 5px;
        resize: none;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
